@{
    ViewData["Title"] = "Kontaktirajte nas!";
}

<div class="row">
	<div class="col-md-8">
		<h2>@ViewBag.Title</h2>
	</div>
</div>


<div class="row" style="margin-top: 20px;">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Adresa sjedišta</div>
			<div class="panel-body">
				<address>
					Ulica 35<br />
					Grad<br />
					<abbr title="Phone">P:</abbr>
					123-123-1234
				</address>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Javite nam se!</div>
			<div class="panel-body">
				<address>
					<strong>Support:</strong>   <a href="mailto:Support@example.com">support@example.com</a><br />
					<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@example.com</a>
				</address>
			</div>
		</div>
	</div>
</div>
