@{
	ViewData["Title"] = "FAQ";
}
<h2>@ViewData["Title"]</h2>

<ul>
	<li>
		<div>
			Q: Kako Vas možemo kontaktirati?
		</div>
		<div>
			A: Naše kontakte možete naći <a asp-controller="Home" asp-action="Contact">na ovoj stranici</a>.
		</div>
	</li>

	<li>
		<div>
			Q: Koliko dugo godina već prodajete nekretnine?
		</div>
		<div>
			A: Preko 40 godina!
		</div>
	</li>

	<li>
		<div >
			Q: Isplati li se prodavati nekretninu kroz Vašu agenciju?
		</div>
		<div>
			A: Da! Naš postotak provizije je samo 1%.
		</div>
	</li>
</ul>

<style type="text/css">
	.bold {
		font-weight: bold;
	}
</style>
