@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli na stranicu Agencije za nekretnine.</h1>
    <p>Na ovoj stranici možete vidjeti razne nekretnine koje se prodaju te agente koji su zaduženi za prodaju samih. Za više informacija kliknite <a asp-controller="Home" asp-action="Privacy">ovdje</a>. Ako nas želite kontaktirati, to možete učiniti <a asp-controller="Home" asp-action="Contact">ovdje</a>. Ova stranica također podržava kreiranje vlastitog računa koji otvara veće mogućnosti aplikacije, a isto tako je moguće i koristiti Google-ov račun.</p>
    <p>Uživajte u stranici!</p>
</div>

<div class="text-center">

</div>