@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ovo je stranica za politiku privatnost.</p>

<div class="row">

	<div class="col-md-4">
		<a class="btn btn-lg btn-secondary" asp-action="FAQ">Često postavljenja pitanja</a>
	</div>
</div>