@model Agencija.Model.RealEstate

@{
    ViewData["Title"] = "Dodavanje nove nekretnine";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Popis nekretnina</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nova nekretnina</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_CreateOrEdit" />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}