@model List<Agencija.Model.RealEstate>

@{
    ViewData["Title"] = "Popis nekretnina";
}

<h1>Popis nekretnina</h1>
<div style="margin-top: 20px; margin-bottom: 10px;">
    <partial name="_EstateFilter" model="new RealEstateFilterModel()" />
</div>

<partial name= "_IndexTable" model="Model"/>

@section Scripts {

    <script>
		$('#btnSearch').click(function (e) {

			$.ajax({
				method: "POST",
				url: '@Url.Action("IndexAjax", "RealEstate")',
				data: $('#forma').serialize(),
				success: function (result) {
					$('#estateList').empty();
					$('#estateList').html(result);
				}
			});
		});

        function DeleteAjax (id){
            $.ajax({
                url: '/RealEstate/Delete?id=' + id,
                success: function () {
                    alert("Data deleted!");
                    location.reload();
                }
            });
        }






    </script>
}